<div ng-controller="navController as vm" ng-cloak>
  <md-content class="md-padding">
    <md-nav-bar
      md-no-ink-bar="disableInkBar"
      md-selected-nav-item="currentNavItem"
      nav-bar-aria-label="navigation links">
      <md-nav-item md-nav-click="vm.goto('home.home')" name="home">
        Articles
      </md-nav-item>
      <md-nav-item md-nav-click="vm.goto('home.articles')" name="random">
        Add article
      </md-nav-item>
      <md-nav-item md-nav-click="vm.goto('login')" name="page4">
        Sign out
      </md-nav-item>
    </md-nav-bar>
  </md-content>
</div>
<div ui-view="users"></div>
<div ui-view="index"></div>

